In [20]:
import pandas as pd
import joblib as jb

In [21]:
model=jb.load('ftlzr_rf.pkl')

In [22]:
df=pd.read_csv('test_ftlzr.csv')
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,32,62,41,Clayey,Paddy,24,0,22

In [23]:
with open("map_ftlzr.txt", "r") as file:
    maps = file.read()
    maps = eval(maps)
maps

{'Soil Type': {'Sandy': 0, 'Loamy': 1, 'Black': 2, 'Red': 3, 'Clayey': 4},
 'Crop Type': {'Maize': 0,
  'Sugarcane': 1,
  'Cotton': 2,
  'Tobacco': 3,
  'Paddy': 4,
  'Barley': 5,
  'Wheat': 6,
  'Millets': 7,
  'Oil seeds': 8,
  'Pulses': 9,
  'Ground Nuts': 10},
 'Fertilizer Name': {'Urea': 0,
  'DAP': 1,
  '14-35-14': 2,
  '28-28': 3,
  '17-17-17': 4,
  '20-20': 5,
  '10-26-26': 6}}

In [24]:
for i in ["Soil Type","Crop Type"]:
    df[i].replace(maps[i],inplace=True)
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,32,62,41,4,4,24,0,22

In [25]:
                                                                                                                                                                                                                                                                      m

In [26]:
fertilizer_dict = {key: value for key, value in maps['Fertilizer Name'].items()}
fertilizer_dict

{'Urea': 0,
 'DAP': 1,
 '14-35-14': 2,
 '28-28': 3,
 '17-17-17': 4,
 '20-20': 5,
 '10-26-26': 6}

In [27]:
def get_fertilizer_name(value):
    for key, val in fertilizer_dict.items():
        if val == value:
            return key
    return None

In [28]:
fertilizer_value = ans
fertilizer_name = get_fertilizer_name(fertilizer_value)
print(fertilizer_name)

28-28