In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("ftlzr.csv")
df.head()

    N   P   K label
0  90  42  43  rice
1  85  58  41  rice
2  60  55  44  rice
3  74  35  40  rice
4  78  42  42  rice

In [5]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [ ]:
rice : urea
maize : superphosphate
chickpea : nitrogen
kidneybeans :10-10-10 
pigeonpeas : 14-14-14
mothbeans : nitrogen
mungbean : nitrogen
blackgram : 20:40:20
lentil : Rhizobium
pomegranate : 8-8-8
banana : 5-10-10 
mango : 10-20-20